<div class="main-container">
    <div class="navbar">
        <h1 class="nunito-sans" style="font-weight: 600;overflow-y: hidden;">Contact Me</h1>
        <div class="heading-bottom-border"></div>
    </div>

    <div class="aside">
        <p class="raleway first-msg">
            Feel free to reach out to me for collaboration on exciting projects, freelance opportunities, or just to discuss innovative ideas. I'm always open to connecting with like-minded professionals who share a passion for technology and development. Let's create something amazing together!
        </p>

        <div class="block-form">
            <input class="inputs nunito-sans" style="font-weight: 600;" type="text" placeholder="Name">
            <input class="inputs nunito-sans" style="font-weight: 600;" type="text" placeholder="Email">
            <textarea class="inputs text-area-input nunito-sans" style="font-weight: 600;" type="text" placeholder="Type..." rows="4" cols="50"></textarea>
            <div class="submit-block">
                <div class="attach-document">
                    <img src="../../../../assets/attach-document-img.svg" alt="Attach Documents">
                    <p class="nunito-sans" style="font-weight: 600;opacity: 0.5;">Attach Documents</p>
                </div>
                <button class="nunito-sans">Send</button>
            </div>
        </div>

        <div class="block-map-and-detail">
            <h2 class="montserrat x" style="font-weight: 600; text-transform: uppercase;">Where to find me</h2>
            <div class="map"></div>
            <div class="contacts">
                <h2 class="montserrat x" style="font-weight: 600; text-transform: uppercase;">Contacts</h2>
                <div class="contact-list">
                    <div class="contact-row">
                        <img src="../../../../assets/location-img.svg" alt="Attach Documents">
                        <p class="merriweather-regular">440913, Rautan 4A, Las Vegas,  America</p>
                    </div>
                    <div class="contact-row">
                        <img src="../../../../assets/email-img.svg" alt="Attach Documents">
                        <p class="merriweather-regular">ssatpute738@gmail.com</p>
                    </div>
                    <div class="contact-row">
                        <img src="../../../../assets/phone-img.svg" alt="Attach Documents">
                        <p class="merriweather-regular">(+91)-9325571685</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>