<div class="main-container">
    <div class="navbar">
        <h1 class="nunito-sans" style="font-weight: 600;overflow-y: hidden;">Contact Me</h1>
        <div class="heading-bottom-border"></div>
    </div>

    <div class="aside">
        <p class="raleway first-msg">
            Feel free to reach out to me for collaboration on exciting projects, freelance opportunities, or just to discuss innovative ideas. I'm always open to connecting with like-minded professionals who share a passion for technology and development. Let's create something amazing together!
        </p>

        <div class="block-form">
            <input class="inputs nunito-sans" style="font-weight: 600;" type="text" placeholder="Name">
            <input class="inputs nunito-sans" style="font-weight: 600;" type="text" placeholder="Email">
            <textarea class="inputs text-area-input nunito-sans" style="font-weight: 600;" type="text" placeholder="Type..." rows="4" cols="50"></textarea>
            <div class="submit-block">
                <div class="attach-document">
                    <img src="{{ appTs.current_image_path }}attach-document-img.svg" alt="Attach Documents">
                    <p class="nunito-sans" style="font-weight: 600;opacity: 0.5;">Attach Documents</p>
                </div>
                <button class="nunito-sans">Send</button>
            </div>
        </div>

        <div class="block-map-and-detail">
            <h2 class="montserrat x" style="font-weight: 600; text-transform: uppercase;">Where to find me</h2>
            <div id="googleMap" class="map"></div>
            <div class="contacts">
                <h2 class="montserrat x" style="font-weight: 600; text-transform: uppercase;">Contacts</h2>
                <div class="contact-list">
                    <div class="contact-row">
                        <img src="{{ appTs.current_image_path }}location-img.svg" alt="Attach Documents">
                        <p class="merriweather-regular">440913, Rautan 4A, Las Vegas,  America</p>
                    </div>
                    <div class="contact-row">
                        <img src="{{ appTs.current_image_path }}email-img.svg" alt="Attach Documents">
                        <p class="merriweather-regular">ssatpute738@gmail.com</p>
                    </div>
                    <div class="contact-row">
                        <img src="{{ appTs.current_image_path }}phone-img.svg" alt="Attach Documents">
                        <p class="merriweather-regular">(+91)-9325571685</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<!-- all -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Simple Marker</title>
     The callback parameter is required, so we use console.debug as a noop 
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBditSO42g-u-0TmX-IV9oX-b4_hzhvYTk&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      gmp-map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <gmp-map center="20.012422561645508,79.11650085449219" zoom="14" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="20.012422561645508,79.11650085449219" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </body>
</html> -->



<!-- html -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Simple Marker</title>
     The callback parameter is required, so we use console.debug as a noop 
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBditSO42g-u-0TmX-IV9oX-b4_hzhvYTk&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    <link rel="stylesheet" href="./style.css"/>
  </head>
  <body>
    <gmp-map center="20.012422561645508,79.11650085449219" zoom="14" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="20.012422561645508,79.11650085449219" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </body>
</html> -->

<!-- css -->
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
<!-- gmp-map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} -->