<div class="main-container">
    <div class="navbar">
        <h1 class="nunito-sans" style="font-weight: 600; font-size: 1.9rem;overflow-y: hidden;margin-bottom: 3px;">Projects</h1>
        <div class="heading-bottom-border"></div>
    </div>
    <div class="projects-section">
        <div class="project-card">
            <div class="project-image">
                <img style="width: 100%; height: 100%; object-fit: cover;" src="https://www.w3schools.com/css/img_5terre.jpg" alt="" srcset="">
            </div>
            <div class="project-info">
                <div class="first-row raleway">
                    <p style="font-weight: 400;">Free</p>
                    <p style="font-weight: 500;">Android</p>
                </div>
                <div class="second-row">
                    <h2 class="montserrat" style="font-weight: 600; font-size: 1rem;">PlayMe</h2>
                    <p class="roboto" style="font-weight: 400; font-size: 0.6rem; margin-top: 0.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur incidunt inventore, reprehenderit quidem modi quaerat, adipisci quisquam aut earum labore ab fugiat repellendus, accusamus beatae alias dicta. Est, soluta sequi!</p>
                </div>
                <div class="third-row">
                    <button class="source-code-pro">Ckeck Project</button>
                </div>
            </div>
        </div>
        
        <div class="project-card">
            <div class="project-image">
                <img style="width: 100%; height: 100%; object-fit: cover;" src="https://www.w3schools.com/css/img_5terre.jpg" alt="" srcset="">
            </div>
            <div class="project-info">
                <div class="first-row raleway">
                    <p style="font-weight: 400;">Free</p>
                    <p style="font-weight: 500;">Android</p>
                </div>
                <div class="second-row">
                    <h2 class="montserrat" style="font-weight: 600; font-size: 1rem;">PlayMe</h2>
                    <p class="roboto" style="font-weight: 400; font-size: 0.6rem; margin-top: 0.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur incidunt inventore, reprehenderit quidem modi quaerat, adipisci quisquam aut earum labore ab fugiat repellendus, accusamus beatae alias dicta. Est, soluta sequi!</p>
                </div>
                <div class="third-row">
                    <button class="source-code-pro">Ckeck Project</button>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-image">
                <img style="width: 100%; height: 100%; object-fit: cover;" src="https://www.w3schools.com/css/img_5terre.jpg" alt="" srcset="">
            </div>
            <div class="project-info">
                <div class="first-row raleway">
                    <p style="font-weight: 400;">Free</p>
                    <p style="font-weight: 500;">Android</p>
                </div>
                <div class="second-row">
                    <h2 class="montserrat" style="font-weight: 600; font-size: 1rem;">PlayMe</h2>
                    <p class="roboto" style="font-weight: 400; font-size: 0.6rem; margin-top: 0.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur incidunt inventore, reprehenderit quidem modi quaerat, adipisci quisquam aut earum labore ab fugiat repellendus, accusamus beatae alias dicta. Est, soluta sequi!</p>
                </div>
                <div class="third-row">
                    <button class="source-code-pro">Ckeck Project</button>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-image">
                <img style="width: 100%; height: 100%; object-fit: cover;" src="https://www.w3schools.com/css/img_5terre.jpg" alt="" srcset="">
            </div>
            <div class="project-info">
                <div class="first-row raleway">
                    <p style="font-weight: 400;">Free</p>
                    <p style="font-weight: 500;">Android</p>
                </div>
                <div class="second-row">
                    <h2 class="montserrat" style="font-weight: 600; font-size: 1rem;">PlayMe</h2>
                    <p class="roboto" style="font-weight: 400; font-size: 0.6rem; margin-top: 0.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur incidunt inventore, reprehenderit quidem modi quaerat, adipisci quisquam aut earum labore ab fugiat repellendus, accusamus beatae alias dicta. Est, soluta sequi!</p>
                </div>
                <div class="third-row">
                    <button class="source-code-pro">Ckeck Project</button>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-image">
                <img style="width: 100%; height: 100%; object-fit: cover; overflow: hidden;" src="https://www.w3schools.com/css/img_5terre.jpg" alt="" srcset="">
            </div>
            <div class="project-info">
                <div class="first-row raleway">
                    <p style="font-weight: 400;">Free</p>
                    <p style="font-weight: 500;">Android</p>
                </div>
                <div class="second-row">
                    <h2 class="montserrat" style="font-weight: 600; font-size: 1rem;">PlayMe</h2>
                    <p class="roboto" style="font-weight: 400; font-size: 0.6rem; margin-top: 0.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur incidunt inventore, reprehenderit quidem modi quaerat, adipisci quisquam aut earum labore ab fugiat repellendus, accusamus beatae alias dicta. Est, soluta sequi!</p>
                </div>
                <div class="third-row">
                    <button class="source-code-pro">Ckeck Project</button>
                </div>
            </div>
        </div>
    </div>
</div>