<div class="blogs-list">
    <div class="blog-card">
        <img src="../../../../assets/nature.jpg" alt="">
        <div class="blog-details">
            <div class="row-one">
                <div class="writer">
                    <img src="../../../../assets/user-image.avif" alt="">
                    <h4 class="itim">Sanket Satpute</h4>
                </div>
                <p class="written-time merriweather-bold" style="font-size: 0.8em; opacity: 0.75;">20, Jan 24</p>
            </div>
            <div class="row-two">
                <h2 class="itim" style="font-size: 1.3em">Delisious Pizza Coocking Recipe in just 2 minutes</h2>
                <p class="source-code-pro" style="font-size: 0.8em"><span class="qoutes">&ldquo;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsa beatae corporis ea, laborum voluptatum iure nisi eaque, eius debitis maxime porro commodi nobis hic molestiae sunt similique voluptatem nostrum...<span class="qoutes">&rdquo;</span></p>
                <button [routerLink]="'../describe-blog/1'" class="source-code-pro">Read More</button>
            </div>
        </div>
    </div>
    <div class="blog-card">
        <img src="../../../../assets/nature.jpg" alt="">
        <div class="blog-details">
            <div class="row-one">
                <div class="writer">
                    <img src="../../../../assets/user-image.avif" alt="">
                    <h4 class="itim">Sanket Satpute</h4>
                </div>
                <p class="written-time merriweather-bold" style="font-size: 0.8em; opacity: 0.75;">20, Jan 24</p>
            </div>
            <div class="row-two">
                <h2 class="itim" style="font-size: 1.3em">Delisious Pizza Coocking Recipe in just 2 minutes</h2>
                <p class="source-code-pro" style="font-size: 0.8em"><span class="qoutes">&ldquo;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsa beatae corporis ea, laborum voluptatum iure nisi eaque, eius debitis maxime porro commodi nobis hic molestiae sunt similique voluptatem nostrum...<span class="qoutes">&rdquo;</span></p>
                <button [routerLink]="'../describe-blog/2'" class="source-code-pro">Read More</button>
            </div>
        </div>
    </div>
    <div class="blog-card">
        <img src="../../../../assets/nature.jpg" alt="">
        <div class="blog-details">
            <div class="row-one">
                <div class="writer">
                    <img src="../../../../assets/user-image.avif" alt="">
                    <h4 class="itim">Sanket Satpute</h4>
                </div>
                <p class="written-time merriweather-bold" style="font-size: 0.8em; opacity: 0.75;">20, Jan 24</p>
            </div>
            <div class="row-two">
                <h2 class="itim" style="font-size: 1.3em">Delisious Pizza Coocking Recipe in just 2 minutes</h2>
                <p class="source-code-pro" style="font-size: 0.8em"><span class="qoutes">&ldquo;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsa beatae corporis ea, laborum voluptatum iure nisi eaque, eius debitis maxime porro commodi nobis hic molestiae sunt similique voluptatem nostrum...<span class="qoutes">&rdquo;</span></p>
                <button [routerLink]="'../describe-blog/3'" class="source-code-pro">Read More</button>
            </div>
        </div>
    </div>
</div>