<!-- overlay-for-mobile-devices -->
<div class="overlay" #overlay [class.visible]="isOverlayVisible">
    <div class="overlay-nav-links">
        <div class="logo">
            <h2 style="color: #2E3B4E;">Portfolio</h2>
        </div>
        <ol>
            <ul fragment="home" routerLink="/" (click)="setActiveLink('home', true)" [class.active]="activeLink === 'home'"><a routerLink="">Home</a><div></div></ul>
            <ul fragment="about-me" routerLink="/" (click)="setActiveLink('about', true)" [class.active]="activeLink === 'about'"><a>About Me</a><div></div></ul>
            <ul fragment="projects" routerLink="/" (click)="setActiveLink('projects', true)" [class.active]="activeLink === 'projects'"><a>Projects</a><div></div></ul>
            <ul fragment="skills" routerLink="/" (click)="setActiveLink('skills', true)" [class.active]="activeLink === 'skills'"><a>Skills</a><div></div></ul>
            <ul fragment="contact-me" routerLink="/" (click)="setActiveLink('contact', true)" [class.active]="activeLink === 'contact'"><a>Contact</a><div></div></ul>
            <ul fragment="blogs" routerLink="/" (click)="setActiveLink('blog', true)" [class.active]="activeLink === 'blog'"><a routerLink="blogs">Blog</a><div></div></ul>
        </ol>
    </div>
    <p class="cross-button" (click)="onCrossButtonClick()">&#x2715;</p>
</div>


<div class="navbar">
    <div class="first-col">
        <div class="logo">
            <h2 style="color: #2E3B4E;">Portfolio</h2>
        </div>
        
        <div class="hamburger" (click)="onHamburgerClick()">
            <div class="first-ham ch-ham" style="width: 100%;"></div>
            <div class="third-ham ch-ham" style="width: 75%;"></div>
        </div>
    </div>
    
    <div class="nav-links">
        <ol>
            <ul fragment="home" routerLink="/" (click)="setActiveLink('home', false)" [class.active]="activeLink === 'home'"><a routerLink="">Home</a><div></div></ul>
            <ul fragment="about-me" routerLink="/" (click)="setActiveLink('about', false)" [class.active]="activeLink === 'about'"><a>About Me</a><div></div></ul>
            <ul fragment="projects" routerLink="/" (click)="setActiveLink('projects', false)" [class.active]="activeLink === 'projects'"><a>Projects</a><div></div></ul>
            <ul fragment="skills" routerLink="/" (click)="setActiveLink('skills', false)" [class.active]="activeLink === 'skills'"><a>Skills</a><div></div></ul>
            <ul fragment="contact-me" routerLink="/" (click)="setActiveLink('contact', false)" [class.active]="activeLink === 'contact'"><a>Contact</a><div></div></ul>
            <ul fragment="blogs" (click)="setActiveLink('blog', false)" [class.active]="activeLink === 'blog'"><a routerLink="blogs">Blog</a><div></div></ul>
        </ol>
    </div>
</div>