<div class="navbar">
    <div class="logo">
        <h2 style="color: #2E3B4E;">Portfolio</h2>
    </div>
    <div class="nav-links">
        <ol>
            <ul><a href="">Home</a><div></div></ul>
            <ul><a routerLink="v">About Me</a><div></div></ul>
            <ul><a href="">Projects</a><div></div></ul>
            <ul><a routerLink="describe-blog">Skills</a><div></div></ul>
            <ul><a routerLink="blogs">Contact</a><div></div></ul>
            <ul><a routerLink="blogs">Blog</a><div></div></ul>
        </ol>
    </div>
</div>