<div class="main-container">
    <div class="introduction">
        <div class="intro-first-block" style="color: #2E3B4E;">
            <h2 class="intro-texts font-monteserrat first" style="font-weight: 200;"><span style="opacity: 0.6;">Hello</span>, My name is</h2>
            <h2 class="intro-texts font-monteserrat second">Sanket Satpute</h2>
            <h2 class="intro-texts font-source-code third">
                a <span id="animated-text" style="color: #ffa500;"></span>
            </h2>
            <h2 class="intro-texts font-source-code"><button class="font-source-code hire-me-btn" type="button" [routerLink]="'hire-me-dialog'">Hire Me</button></h2>
        </div>
        <div class="intro-second-block">
            <img src="{{imgPath}}" alt="Gallery">
        </div>
    </div>
</div>
