<div class="container">
    <main class="main-content">
        <section class="blog-post">
            <img src="../../../../assets/nature.jpg" alt="Delicious Pizza" class="blog-image">
            <div class="post-meta">
                <div class="first-col">
                    <img src="../../../../assets/my-image.jpg" alt="Sanket Satpute" id="author-image"   >
                    <span class="itim">Sanket Satpute</span>
                </div>
                <div class="second-col">
                    <span class="post-views montserrat">
                        <img style="height: 1rem; width: 1rem; opacity: 0.6;" src="../../../../assets/eye.png" alt=""> 
                        <span style="font-size: 0.9em;opacity: 0.6;">2,038</span>
                    </span>
                    <span class="merriweather-bold" style="color: #333333;opacity: 0.75;">20, Jun 24</span>
                </div>
            </div>
            <h1 class="post-title itim">Delisious Pizza Coocking Recipe in just 2 minutes</h1>
            <div class="post-content source-code-pro">
                <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor impedit mollitia sequi modi itaque maxime a! Ratione assumenda deleniti ducimus vel, laborum, voluptatem asperiores, dignissimos expedita dolor perspiciatis libero minima.</p>
                <p>Sit tempore quod aliquid aspernatur? Dolores quibusdam rerum sed at repellat adipisci et, facere non molestiae enim, voluptatibus repellendus, omnis aspernatur! Voluptates facilis veniam praesentium asperiores atque earum voluptatum itaque.</p>
                <p>Consequuntur itaque, odit sit vero quae consequatur vitae! Qui suscipit temporibus odio ipsam, nemo eaque eos assumenda aut voluptatem ipsum, ab repellendus sunt labore necessitatibus, sit unde laboriosam pariatur earum esse?</p>
                <p>Minima sunt itaque, consequatur officiis est iste quasi obcaecati earum ea, expedita quo voluptate! Quis non quam laudantium. Rem soluta praesentium asperiores unde impedit ut magnam, velit quisquam natus quasi.</p>
                <p>Fugiat obcaecati aperiam deleniti possimus ex vitae id dicta soluta quae explicabo quo exercitationem iste quod accusamus consectetur, temporibus, modi repellat tempora cumque! Exercitationem adipisci libero sapiente expedita nam iure!</p>
                <p>Hic quis doloribus iusto sunt nesciunt quidem praesentium nemo. Sit, error officia beatae dicta, ea facilis aperiam unde reiciendis quos illo deleniti voluptate necessitatibus et laborum, suscipit perspiciatis porro enim?</p>
                <p>Illo omnis consectetur recusandae reprehenderit aliquid fuga quod fugit, eaque itaque necessitatibus, molestiae."</p>
            </div>
        </section>
    
        <aside class="sidebar">
            <h2 class="itim">Other Blog's</h2>
            <div class="other-posts">
                <div class="post-card">
                    <img class="sidebar-blg-post-img" src="../../../../assets/nature.jpg" alt="Pizza">
                    <div class="post-card-content">
                        <div class="post-meta">
                            <div class="first-col">
                                <img src="../../../../assets/my-image.jpg" alt="Sanket Satpute" id="author-image">
                                <span class="itim">Sanket Satpute</span>
                            </div>
                            <span class="merriweather-bold" style="font-size: 0.9em; color: #333333;opacity: 0.75;">20, Jun 24</span>
                        </div>
                        <h3 class="post-title itim" style="margin: 1rem 0 0.5rem 0;">Riot's Carrot with gold 20% fees</h3>
                        <p class="post-content source-code-pro">Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet consectetur adipisicing elit. Expedita quo eaque...</p>
                        <a href="#" class="read-more source-code-pro">Read More</a>
                    </div>
                </div>

                <div class="post-card">
                    <img class="sidebar-blg-post-img" src="../../../../assets/nature.jpg" alt="Pizza">
                    <div class="post-card-content">
                        <div class="post-meta">
                            <div class="first-col">
                                <img src="../../../../assets/my-image.jpg" alt="Sanket Satpute" id="author-image">
                                <span class="itim">Sanket Satpute</span>
                            </div>
                            <span class="merriweather-bold" style="font-size: 0.9em; color: #333333;opacity: 0.75;">20, Jun 24</span>
                        </div>
                        <h3 class="post-title itim" style="margin: 1rem 0 0.5rem 0;">Riot's Carrot with gold 20% fees</h3>
                        <p class="post-content source-code-pro">Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet consectetur adipisicing elit. Expedita quo eaque...</p>
                        <a href="#" class="read-more source-code-pro">Read More</a>
                    </div>
                </div>

                <!-- Repeat the post-card structure for the other 3 blog posts -->
            </div>
        </aside>
    </main>
</div>
