<div class="main-container">
    <div class="navbar">
        <h1 class="nunito-sans" style="font-weight: 600;  overflow-y: hidden; margin-bottom: 3px;">About Me</h1>
        <div class="heading-bottom-border"></div>
    </div>
    <div class="about-section">
        <div class="about-first-section">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Gallery">
        </div>
        <div class="about-second-section">
            <p class="poppins-semibold">
                <span></span> I'm <span style="color: #ffa500;">Sanket Satpute</span>, a seasoned software developer with a proven track record in delivering exceptional full-stack solutions. My passion for technology is fueled by a desire to create meaningful and impactful applications. Throughout my career, I've honed my skills in various programming languages, frameworks, and databases, enabling me to tackle complex challenges with confidence.
                <br><br>
                Beyond technical proficiency, I'm a strong advocate for collaboration and teamwork. I believe that diverse perspectives and open communication are essential for building successful projects. I'm always eager to learn from others, share my knowledge, and contribute to a positive and inclusive work environment.
                <br><br>
                In my free time, I stay up-to-date with the latest industry trends through research, experimentation, and participation in online communities. I'm actively involved in various projects that align with my interests and values.
            </p>
            <button class="source-code-pro know-more-btn" style="font-weight: 600;" type="button">Know More</button>
        </div>
    </div>
</div>
