/* :root {
    --col-black-1 : #2E3B4E;
    --col-black-2 : #333333;
    --col-orange : #ffa500;
    --col-background-1 : #F5F5F5;
    --col-background-2 : #E0E0E0;
}

.main-cls {
    width: 100%;
    height: 100vh;
    background-color: var(--col-background-1);
}

.about-me-cls {
    width: 100%;
    height: 100vh;
    background-color: var(--col-background-2);
} */