<!-- <app-main class="main-cls"></app-main>
<app-about-me class="about-me-cls"></app-about-me>
<app-projects class="projects-cls"></app-projects>
<app-contact-me class="contact-me-cls"></app-contact-me>
<app-footer class="footer-cls"></app-footer> -->

<!-- <app-hire-me-dialog class="hire-me-dialog-cls"></app-hire-me-dialog> -->

<!-- <app-blogs class="blogs-cls"></app-blogs> -->
 <!-- <app-blog-specification class="blog-specification-cls"></app-blog-specification> -->

<app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-footer></app-footer>