.main-container {
    width: 100%;
    background-color: #E0E0E0;
    height: 100vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar h1 {
    font-weight: 600;
    font-size: 1.9rem;
    overflow-y: hidden;
}

.navbar .heading-bottom-border {
    height: 3px;
    width: 50%;
    background-color: #ffa500;
    border-radius: 10px;
}

.aside {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    height: 80%;
    width: 70%;
    background-image: url('../../../../assets/curve-background.svg');
    background-size: contain; /* Ensures the entire image fits within the element */
    background-position: center; /* Centers the image within the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    transform: translateY(-25px);
}

.skill-row-lst-child {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.skill-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}


.skill-row-right {
    
}

.skill-row-center {
    justify-content: center;
    transform: translateY(-25px);
}

.skill-row-left {
    justify-content: flex-start;
    transform: translate(-14px, -35px);
}

.skill-row-right {
    justify-content: flex-end;
    transform: translate(10px, -20px);
}

.row-fifth {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 100%; 
    margin-right: 15%; 
    transform: translateY(-55px);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; 
}

.skill-circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
    padding: 1.5rem;
}

.skill-circle img {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.java .skill-name {
    transform: translate(0, -2.5rem);
}

.python .skill-name {
    transform: translate(0, 8.5rem);
}

.angular .skill-name {
    transform: translate(-8rem, 3rem);
}

.android .skill-name {
    transform: translate(0, 8.5rem);
}

.spring-boot .skill-name {
    transform: translate(7.5rem, 2rem);
}

.uiux .skill-name {
    transform: translate(0, 8.5rem);

}

.see-more .skill-name {
    transform: translate(0, -6.5rem);
}

.skill-name {
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-weight: 600;
    position: absolute;
}

.see-more {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.see-more .skill-circle {
    position: relative;
    background: transparent;
    cursor: pointer;
    border: 2px solid #ffa500;
    border-radius: 50%;
    overflow: hidden;
    animation: ripple 1.5s linear infinite;
    transition: transform 0.7s ease;
}

.see-more .skill-circle img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
}

.skill-circle:hover {
    transform: scale(1.1);
}

.see-more .skill-circle:focus {
    outline: none;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.3),
            0 0 0 1px rgba(255, 165, 0, 0.3),
            0 0 0 3px rgba(255, 165, 0, 0.3),
            0 0 0 5px rgba(255, 165, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.3),
            0 0 0 4px rgba(255, 165, 0, 0.3),
            0 0 0 20px rgba(255, 255, 255, 0),
            0 0 0 30px rgba(255, 255, 255, 0);
    }
}









/* x */

.skills-list-not-laptop {
    display: none;
}

.skill {
    margin-bottom: 30px;
    display: flex;
    gap: 2rem;
}

.skill:nth-child(odd) {
    flex-direction: row-reverse;
}

.skill:nth-child(even) {
    flex-direction: row;
}

.first-col  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 10rem;
    /* background-color: red; */
}

.skill-name-mobile {
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-bottom: 5px; */
}

.skill-description {
    font-size: 0.9rem;
    color: #666;
    /* margin-bottom: 10px; */
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #3C2DF0;
}

.percent {
    position: relative;
    /* width: 150px;
    height: 150px; */
}

.percent svg {
    width: 150px;
    height: 150px;
    position: relative;
}

.percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(22px, 22px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}

.percent .num {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.percent .num h2 {
    font-size: 24px;
}

.percent .num h2 span {
    font-size: 24px;
}

/* .show-more {
    display: block;
    width: 200px;
    height: 200px;
    margin: 30px auto 0;
    background-color: #2196F3;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */
/* 
.show-more:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(33, 150, 243, 0.4);
} */




/* Media Queries */
@media (max-width: 1060px) { 
    .skill-circle {
        width: 5rem;
        height: 5rem;
    }

    /* skill names */
    .java .skill-name {
        transform: translate(-1rem, -3.5rem);
    }

    .python .skill-name {
        transform: translate(0.5rem, 3.5rem);
    }

    .angular .skill-name {
        transform: translate(-5.5rem, 0rem);
    }

    .android .skill-name {
        transform: translate(0rem, 3.5rem);
    }

    .spring-boot .skill-name {
        transform: translate(5rem, 0rem);
    }

    .uiux .skill-name {
        transform: translate(1.5rem, 3.5rem);

    }

    .see-more .skill-name {
        transform: translate(0, -4.5rem);
    }

    .skill-name {
        font-size: 1.1em;
    }

    /* rows */
    .skill-row-first {
        transform: translate(10px, 100px);
    }

    .skill-row-right {
        transform: translate(10px, 40px);
    }

    .skill-row-center {
        transform: translateY(-15px);
    }

    .skill-row-left {
        transform: translate(-14px, -70px);
    }

    .row-fifth {
        transform: translateY(-135px);
    }
}


/* Media Queries */
@media (max-width: 890px) { 
    .main-container {
        height: auto;
        padding: 1rem;
    }

    .skills-list {
        display: none;
    }

    .skills-list-not-laptop {
        display: block;
    }

    .skills {
        height: auto;
        width: 100%;
        padding: 1rem;
        background-image: none;
    }

    .see-more {
        transform: translate(0,0);
        margin-top: 1rem;
    }

    .see-more .skill-circle {
        width: 8rem;
        height: 8rem;
    }
}

@media (max-width: 480px) {
    .navbar h1 {
        font-weight: 600;
        font-size: 1.5rem;
        overflow-y: hidden;
    }
}