<div class="main-container">
    <div class="navbar">
        <h1 class="nunito-sans">Skills</h1>
        <div class="heading-bottom-border"></div>
    </div>
    <div class="aside">
        <div class="skills">
            <div class="skills-list">

                <div class="skill-row skill-row-first" style="width: 50%; margin-left: 15%;">
                    <div class="skill java">
                        <div class="skill-circle" style="background-color: #6a1b9a;">
                            <img src="{{ appTs.current_image_path }}java.png" alt="Java">
                        </div>
                        <div class="skill-name source-code-pro">Java</div>
                    </div>
                    <div class="skill python">
                        <div class="skill-circle" style="background-color: #ffeb3b;">
                            <img src="{{ appTs.current_image_path }}python.png" alt="Python">
                        </div>
                        <div class="skill-name source-code-pro">Python</div>
                    </div>
                </div>
        
                <div class="skill-row skill-row-right">
                    <div class="skill angular">
                        <div class="skill-circle" style="background-color: #1976d2;">
                            <img src="{{ appTs.current_image_path }}angular.png" alt="Angular">
                        </div>
                        <div class="skill-name source-code-pro">Angular</div>
                    </div>
                </div>
        
                <div class="skill-row skill-row-center">
                    <div class="skill android">
                        <div class="skill-circle" style="background-color: #ff5722;">
                            <img src="{{ appTs.current_image_path }}android.png" alt="Android">
                        </div>
                        <div class="skill-name source-code-pro">Android</div>
                    </div>
                </div>
        
                <div class="skill-row skill-row-left">
                    <div class="skill spring-boot">
                        <div class="skill-circle" style="background-color: #ff9800;">
                            <img src="{{ appTs.current_image_path }}1656604745399.png" alt="Spring Boot">
                        </div>
                        <div class="skill-name source-code-pro">Spring Boot</div>
                    </div>
                </div>
        
                <div class="skill-row row-fifth">
                    <div class="skill-row-lst-child">
                        <div class="skill uiux">
                            <div class="skill-circle" style="background-color: #42a5f5;">
                                <img src="{{ appTs.current_image_path }}ux.png" alt="UI/UX Design">
                            </div>
                            <div class="skill-name source-code-pro">UI/UX Design</div>
                        </div>
                        <div class="skill see-more">
                            <div class="skill-circle" style="padding: 0;">
                                <img src="{{ appTs.current_image_path }}Show more.png" alt="See More">
                            </div>
                            <div class="skill-name source-code-pro">See More...</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills-list-not-laptop">
                <div class="skill" *ngFor="let skill of skills;">
                    <div class="first-col">
                        <h2 class="skill-name-mobile source-code-pro">{{ skill.skName }}</h2>
                        <p class="skill-description roboto">{{ skill.skDesc }}</p>
                    </div>
                    <div class="box">
                        <div class="percent">
                            <svg>
                              <!-- <circle cx="70" cy="70" r="70"></circle> -->
                              <circle #circle cx="54" cy="54" r="54"></circle>
                            </svg>
                            <div class="num">
                                <h2 class="unica-one-regular" style="color: white;">{{ skill.skPercent }}<span>%</span></h2>
                            </div>
                        </div>                         
                    </div>
                </div>
                <div class="skill see-more">
                    <div class="skill-circle" style="padding: 0; background-color: #1EA1FF;">
                        <p class="skill-name-mobile unica-one-regular" style="color: white;font-weight: 400; font-size: 1.3rem;">Show <br>More <br>Skills</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>