<div class="main-container">
    <div class="navbar">
        <h1 class="nunito-sans" style="font-weight: 600; font-size: 1.9rem;overflow-y: hidden;">Skills</h1>
        <div class="heading-bottom-border"></div>
    </div>
    <div class="aside">
        <div class="skills">
            <div class="skills-list">

                <div class="skill-row" style="width: 50%; margin-left: 15%;">
                    <div class="skill java">
                        <div class="skill-circle" style="background-color: #6a1b9a;">
                            <img src="../../../../assets/java.png" alt="Java">
                        </div>
                        <div class="skill-name source-code-pro" style="transform: translate(0, -2.5rem);">Java</div>
                    </div>
                    <div class="skill python">
                        <div class="skill-circle" style="background-color: #ffeb3b;">
                            <img src="../../../../assets/python.png" alt="Python">
                        </div>
                        <div class="skill-name source-code-pro" style="transform: translate(0, 8.5rem);">Python</div>
                    </div>
                </div>
        
                <div class="skill-row skill-row-right" style="transform: translate(10px, -20px);">
                    <div class="skill angular">
                        <div class="skill-circle" style="background-color: #1976d2;">
                            <img src="../../../../assets/angular.png" alt="Angular">
                        </div>
                        <div class="skill-name source-code-pro" style="transform: translate(-8rem, 3rem);">Angular</div>
                    </div>
                </div>
        
                <div class="skill-row skill-row-center" style="transform: translateY(-25px);">
                    <div class="skill android">
                        <div class="skill-circle" style="background-color: #ff5722;">
                            <img src="../../../../assets/android.png" alt="Android">
                        </div>
                        <div class="skill-name source-code-pro" style="transform: translate(0, 8.5rem);">Android</div>
                    </div>
                </div>
        
                <div class="skill-row skill-row-left" style="transform: translate(-14px, -35px);">
                    <div class="skill spring-boot">
                        <div class="skill-circle" style="background-color: #ff9800;">
                            <img src="../../../../assets/1656604745399.png" alt="Spring Boot">
                        </div>
                        <div class="skill-name source-code-pro" style="transform: translate(7.5rem, 2rem);">Spring Boot</div>
                    </div>
                </div>
        
                <div class="skill-row row-fifth">
                    <div class="skill-row-lst-child">
                        <div class="skill uiux">
                            <div class="skill-circle" style="background-color: #42a5f5;">
                                <img src="../../../../assets/ux.png" alt="UI/UX Design">
                            </div>
                            <div class="skill-name source-code-pro" style="transform: translate(0, 8.5rem);">UI/UX Design</div>
                        </div>
                        <div class="skill see-more">
                            <div class="skill-circle" style="padding: 0;">
                                <img src="../../../../assets/Show more.png" alt="See More">
                            </div>
                            <div class="skill-name source-code-pro" style="transform: translate(0, -6.5rem);">See More...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>