<div class="container">
    <div class="main-container">
        <div class="navbar">
            <h2 class="montserrat" style="font-weight: 600;">Reach Me</h2>
            <span class="close" (click)="goBack()">&times;</span>
        </div>
        <div class="aside">
            <div class="aside-first-block">
                <div class="form">
                    <input class="inputs nunito-sans" type="text" placeholder="Name">
                    <input class="inputs nunito-sans" type="email" placeholder="Email">
                    <textarea class="inputs text-area" placeholder="Type your message..." rows="4"></textarea>
                    <div class="submit-block">
                        <div class="attach-document">
                            <img src="{{ appTs.current_image_path }}attach-document-img.svg" alt="Attach Documents">
                            <p class="nunito-sans">Attach Documents</p>
                        </div>
                        <button class="nunito-sans">Send</button>
                    </div>
                </div>
                <div class="my-work">
                    <h2 class="montserrat">My Work</h2>
                    <div class="project-slideshow">
                        <div class="project-img"></div>
                        <div class="extra-detail">
                            <p class="timer montserrat">24s</p>
                            <p class="project-type montserrat">Android</p>
                        </div>
                        <div class="detail">
                            <h2 class="source-code-pro">Project Name</h2>
                            <p class="source-code-pro">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa veniam blanditiis, modi, oriosam autem ut eius! Neque sunt fuga voluptatem dicta!
                            </p>
                            <button class="source-code-pro">Check Project</button>
                        </div>
                    </div>
                    <button class="download-cv-btn nunito-sans">Download CV</button>
                </div>
            </div>
            <div class="social-links">
                <a href="https://github.com/yourusername" target="_blank">
                    <img src="https://img.icons8.com/ios-filled/50/github.png" alt="GitHub"/>
                </a>
                <a href="https://facebook.com/yourusername" target="_blank">
                    <img src="https://img.icons8.com/ios-filled/50/facebook--v1.png" alt="Facebook"/>                    
                </a>
                <a href="https://instagram.com/yourusername" target="_blank">
                    <img src="https://img.icons8.com/ios-filled/50/instagram-new--v1.png" alt="Instagram"/>
                </a>
            </div>
        </div>
    </div>
</div>
